* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 10px;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: aliceblue;
}

.App {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app--container {
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  min-height: 270px;
  background: linear-gradient(120deg, #505050, #707070);
  color: #fff;
  min-width: 480px;
  position: relative;
  display: flex;
}

.app--container_refreshImg {
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
  transition-duration: 0.8s;
  transition-property: transform;
}
.app--container_refreshImg:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.app--container_info {
  display: flex;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.location--container {
  text-align: right;
}

.imgtemp--container {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-evenly;
}

.small--text {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  p {
    margin: 3px;
  }

  .app--container {
    border-radius: 5px;
    box-shadow: 1.5px 2.5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    min-height: 135px;
    min-width: 240px;
  }

  .app--container_info {
    margin-top: 10px;
  }

  .app--container_refreshImg {
    right: 15px;
    top: 10px;
  }

  .app--container_refreshImg:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  .small--text {
    font-size: 10px;
  }

  .app--container_refreshImg {
    width: 20px;
  }

  .weather--img {
    height: 40px;
  }
}
